.section2GRID {
  display: flex;
  background: #5287DD;
  justify-content: center;
}

.section2GRID h1 {
  max-width: 570px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 62px;
  color: #FFFFFF;
  word-wrap: break-word;
}

.section2GRID p {
  max-width: 470px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  word-wrap: break-word;
  margin-top: 32px ;
}

.section2DIV{
  margin:  90px 600px 90px 0px;
}

@media (max-width: 1190px){
  html{
    overflow-x: hidden;
  }
  .section2DIV{
    margin:  90px 0px 90px 0px;
  }
  .section2GRID{
    margin-right: 0px;
  }
}

@media (max-width: 800px){
  html{
    overflow-x: hidden;
  }
  .section2GRID{
    max-width: 600px;
  }
  .section2GRID h1{
    text-align: center;
    max-width: 600px;
    font-size: 80px;
    line-height: 70px;
    margin: 0px 15px 30px 15px;
    padding-top: 130px;
  }

  .section2GRID p{
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    max-width: 600px;
    margin: 0px 16px 120px 16px;
  }
}