.section2GRID {
  display: flex;
  background: #5287DD;
  justify-content: center;
}

.section2GRID h1 {
  max-width: 570px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 62px;
  color: #FFFFFF;
  word-wrap: break-word;
}

.section2GRID p {
  max-width: 470px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  word-wrap: break-word;
  margin-top: 32px;
}

.section2DIV {
  margin: 90px 600px 90px 0px;
}

@media (max-width: 1190px) {
  html {
    overflow-x: hidden;
  }

  .section2DIV {
    margin: 90px 0px 90px 0px;
  }

  .section2GRID {
    margin-right: 0px;
  }
}
/* GALAXY A8 2018 */
@media (max-width: 600px) {
  html {
    overflow-x: hidden;
  }

  .section2GRID {
    max-width: 600px;
  }

  .section2GRID h1 {
    text-align: center;
    max-width: 600px;
    font-size: 80px;
    line-height: 70px;
    margin: 0px 15px 30px 15px;
    padding-top: 130px;
  }

  .section2GRID p {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    max-width: 600px;
    margin: 0px 16px 120px 16px;
  }
}

/* galaxy S20 ULTRA */
@media (max-width: 588px) {
  html {
    overflow-x: hidden;
  }

  .section2GRID {
    max-width: 588px;
  }

  .section2GRID h1 {
    text-align: center;
    max-width: 500px;
    font-size: 80px;
    line-height: 70px;
    margin: 0px 15px 30px 15px;
    padding-top: 130px;
  }

  .section2GRID p {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    max-width: 500px;
    margin: 0px 16px 120px 16px;
  }

  .section2DIV {
    max-width: 900px;
  }
}

/* iphone SE */
@media (max-width: 570px) {
  html {
    overflow-x: hidden;
  }

  .section2GRID {
    max-width: 550px;
  }

  .section2GRID h1 {
    text-align: center;
    max-width: 500px;
    font-size: 80px;
    line-height: 70px;
    margin: 0px 15px 30px 15px;
    padding-top: 130px;
  }

  .section2GRID p {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    max-width: 500px;
    margin: 0px 16px 120px 16px;
  }

  .section2DIV {
    max-width: 900px;
  }
}

/*  galaxy S8+ */
@media (max-width: 535px) {
  html {
    overflow-x: hidden;
  }

  .section2GRID {
    max-width: 100%;
  }

  .section2GRID h1 {
    text-align: center;
    max-width: 100%;
    font-size: 80px;
    line-height: 70px;
    margin: 0px 0px 30px 0px;
    padding-top: 130px;
  }

  .section2GRID p {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    max-width: 100%;
    margin: 0px 0px 120px 0px;
  }

  .section2DIV {
    max-width: 480px;
  }
}