.section1 {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-right: 600PX;
}

.section1 p {
  max-width: 570px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #2B2B2B;
  height: 74px;
  margin-top: 25px;
}

.section1 h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #5287DD;
  margin-top: 25px;
}

.section1 ul {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 15px;
  margin-bottom: 75px;

}

.section1 span {
  font-weight: 700;
}

.imgMobile {
  display: none;
}

.sectionIMG2 {
  display: none;
}

.sectionIMG3 {
  position: relative;
  right: -600px;
  margin-top: 60px;
}

.section1Div {
  position: absolute;
}

@media (max-width: 1190px) {
  html {
    overflow-x: hidden;
  }

  .section1 {
    margin-right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    justify-content: center;
  }

  .sectionIMG3 {
    right: -550px;
  }
}


@media (max-width: 1188px) {
  html {
    overflow-x: hidden;
  }

  .section1 {
    display: flex;
    justify-content: center;
  }

  .sectionIMG3 {
    display: none;
  }
}

 

@media (max-width: 600px) {
  html {
    overflow-x: hidden;
  }

  .section1 {
    max-width: 600px;
  }

  .section1 p {
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    margin: 0px 15px 90px 15px;
    max-width: 600px;
  }

  .section1 li {
    font-size: 30px;
    text-align: center;
    line-height: 33px;
    max-width: 600px;
    margin: 10px 0px;
  }

  .section1 h2 {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    max-width: 600px;
    margin: 0px 15px 15px 15px;
  }

  .section1 ul {
    max-width: 600px;
  }

  .sectionIMG1 {
    display: none;
  }

  .sectionIMG2 {
    display: inline;
    max-width: 600px;
    margin: 0px 0px 0px 20px;
  }

  .imgMobile {
    display: inline;
    max-width: 600px;
    margin: 0px 0px 0px 15px;
  }
}
/* iphone se  */
@media (max-width: 588px) {
  html {
    overflow-x: hidden;
  }

  .section1 {
    max-width: 500px;
  }

  .section1 p {
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    max-width: 498px;
    margin-left: 45px;
    margin-bottom: 120px;
  }

  .section1 li {
    font-size: 30px;
    text-align: center;
    line-height: 33px;
    max-width: 588px;
    margin-bottom: 12px;
    margin-left: 30px;
  }

  .section1 h2 {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    max-width: 500px;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .section1 ul {
    max-width: 600px;
    margin-left: 0px;
  }

  .sectionIMG1 {
    display: none;
  }

  .sectionIMG2 {
    display: inline;
    max-width: 500px;
    margin-left: 55px;
  }

  .imgMobile {
    display: inline;
    max-width: 518px;
    margin-left: 35px;
  }
}

@media (max-width:535px) {
  html {
    overflow-x: hidden;
  }

  .section1 {
    max-width: 535px;
  }

  .section1 p {
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    max-width: 515px;
    margin-left: 20px;
    margin-bottom: 120px;
  }

  .section1 li {
    font-size: 29px;
    text-align: center;
    line-height: 33px;
    max-width: 520px;
    margin-bottom: 12px;
    margin-left: 0px;
  }

  .section1 h2 {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    max-width: 500px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .section1 ul {
    max-width: 530px;
    margin-left: 0px;
  }

  .sectionIMG1 {
    display: none;
  }

  .sectionIMG2 {
    display: inline;
    max-width: 480px;
    margin-left: 31px;
  }

  .imgMobile {
    display: inline;
    max-width: 480px;
    margin-left: 24px;
  }
}
 

