/* INÍCIO reset css ############################################################################## */
html{
  background-color: #ededed;
  overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIM reset css ############################################################################## */



/* Início estilos do HEADER ###################################################################### */
.headerGrid {
  display: flex;
  justify-content: center;
  margin-left: 750px;
  font-size: 18px;
  line-height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  gap: 10px;
  align-items: center;
   
  height: 75px;
}

.headerGrid p{
  margin: 0px;
  text-decoration: underline;
  color: black;
}

.inativo{
  color: black;
  text-decoration: none;
}
.ativo {
  background: #EDEDED;
  width: 37px;
  height: 37px;
  border: 1px solid #2B2B2B;
  border-radius: 50%;
  box-shadow: 2px 2px;
  text-align: center;
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

@media (max-width:1000px) {
  .headerGrid {
    margin-left: 400px;
  }
}

@media (max-width: 600px){
  .headerGrid{
    height: 120px;
    gap: 15px;
    grid-template-columns: auto auto auto;
    max-width: 600px;
    margin: 0px 0px 0px 200px;
    font-size: 20px;
    height: 90px;
  }

  .ativo{
    width: 55px;
    height: 55px;
    border: 1.5px solid #2B2B2B;
  }
}
/* Fim estilos do HEADER ######################################################################## */