.footerDIV {
  display: flex;
  align-items: center;
  gap: 25px;
}

.apoio {
  display: flex;
  align-items: center;
  gap: 25px;
}

.apoio p {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.realizacao {
  display: flex;
  align-items: center;
  gap: 25px;
}

.realizacao p {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.footerDIV {
  display: flex;
  justify-content: center;
  gap: 60px;
  height: 150px;
}

@media (max-width: 1190px) {
  html{
    overflow-x: hidden;
  }
  .apoio {
    gap: 10px;
  }

  .realizacao {
    gap: 10px;
  }
}

@media (max-width: 1020px) {
  html{
    overflow-x: hidden;
  }
  .footerDIV {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
  }

  .apoio {
    gap: 10px;
  }

  .realizacao {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  html{
    overflow-x: hidden;
  }
  .footerDIV {
    height: 280px;
    margin: 50px 0px 50px 0px;
    max-width: 600px;
  }
  
  .realizacao {
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    column-gap: 50px;
    row-gap: 15px;
    max-width: 600px;
  }

  .realizacao p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    grid-column: 1/-1;
    max-width: 600px;
  }

  .apoio {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    justify-content: center;
    max-width: 600px;
  }

  .apoio p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    grid-column: 1/-1;
    max-width: 600px;
  }

.imgItaipu{
  margin-right: 30px ;
}


}

@media (max-width: 588px) {
  html{
    overflow-x: hidden;
  }
  .footerDIV {
    height: 280px;
    margin: 50px 0px 50px 7px;
    max-width: 528px;
  }
  
  .realizacao {
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    column-gap: 40px;
    row-gap: 15px;
    max-width: 588px;
  }

  .realizacao p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    grid-column: 1/-1;
    max-width: 588px;
  }

  .apoio {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0px;
    justify-content: center;
    max-width: 588px;
  }

  .apoio p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    grid-column: 1/-1;
    max-width: 588px;
  }

.imgItaipu{
  margin-right: 20px ;
}


}